@charset "UTF-8";
/* CSS Document */
/*
Rodrigo Berlinck
 /*  END OF MEDIA QUERIES */
@font-face {
    font-family: 'gotham_boldregular';
    src: url('fontes/ufonts.com_gotham_bold-webfont.eot');
    src: url('fontes/ufonts.com_gotham_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/ufonts.com_gotham_bold-webfont.woff') format('woff'),
         url('fontes/ufonts.com_gotham_bold-webfont.ttf') format('truetype'),
         url('fontes/ufonts.com_gotham_bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {padding:0px; margin:0px; background:#D7D7CE; font-family: Verdana; } 
input {background:url(../../images/membros/input-login.png) no-repeat; border:0px; width:342px; height:30px;}
.wrapper {width:800px; min-height:500px; margin:auto; position:relative;}
.login .wrapper {background:url(../../images/membros/novo/fundo_login.jpg) no-repeat;}
.home.wrapper {background:url(../../images/membros/novo/fundo_login.jpg) no-repeat;}
.add_squeeze .wrapper {background:url(../../images/membros/novo/fundo_form_squeeze.png) no-repeat;}
.ranking_leads .wrapper {background:url(../../images/membros/novo/fundo-ranking-leads.png) no-repeat; height:784px;}
.ranking_batalha .wrapper {background:url(../../images/membros/novo/fundo-ranking-batalha.png) no-repeat; height:784px;}

.header { width:800px;height:221px; background:url(../../images/membros/novo/topo.png) repeat-x; margin:auto;}
/*.logo {float:left; margin-top:25px; margin-left:25px;}*/
.content{min-height:400px;}

.content_admin{ margin-left:300px;min-height:500px;}
.content_afiliado_batalha{ float:left; width:450px; min-height:450px; }
.content_afiliado{ float:left; width:450px; min-height:500px; }
.menu_afiliado {float:left;width:279px;display:block; position:relative; height:400px;}

/*
.box_fora {margin-left:30%; position:relative; width:500px;height:60%;margin-top:5%;}
*/

.titulo { font-family:Verdana; font-weight:bold; font-size:22px;}
.descricao { font-family:Verdana;  font-size:12px; }

.input {background:url(../../images/membros/novo/input.jpg) no-repeat;border:0px; width:389px; height:48px; font-size:18px; color:#CACAD8; font-family: Tahoma; padding-left:20px;}
.botao_ver_video { width:235px; height:64px;margin-left:80px;}

/* cores */
.branco {color:white;}
.footer{width:800px;height:44px; background:url(../../images/membros/novo/footer.png) no-repeat;}
.logo_footer {float:right;margin-top:-20px; }
.copyright{width:180px;color:white; margin:auto; padding-top:25px;}

.input_login{ background:url(../../images/membros/novo/form-input.png) no-repeat; border:0px; width:462px; height:47px;  font-size:18px; padding-left:10px}
.form_login {margin:auto; width:500px;}
.form_cadastro {margin-left:10%; width:600px;}

/* form cadastra landing */

.input_nome {background:url(../../images/membros/novo/landing-page/input-nome.png) no-repeat; width:450px; height:107px; padding-left:100px;}

.input_titulo { background:url(../../images/membros/novo/landing-page/input-titulo.png) no-repeat; width:450px; height:107px; padding-left:100px;}
.titulo_count_input {margin-left:465px; margin-top:-13px; font-size:11px; right:15px; color:#333333;}

.input_descricao { background:url(../../images/membros/novo/landing-page/input-descricao.png) no-repeat; width:435px; height:140px; padding-left:115px; border:0px; padding-top:45px }
.desc_count_input {margin-left:480px; margin-top:-3px; font-size:11px; right:15px; color:#333333}

.input_username { background:url(../../images/membros/novo/input-nome-de-usuario.png) no-repeat; width:450px; height:107px; padding-left:100px;}
.input_email { background:url(../../images/membros/novo/input-email.png) no-repeat; width:450px; height:107px; padding-left:100px;}
.input_senha { background:url(../../images/membros/novo/input-senha.png) no-repeat; width:450px; height:107px; padding-left:100px;}

.input_file_wrapper {background:url(../../images/membros/novo/landing-page/input-file.png) no-repeat; width:474px; height:101px; overflow: hidden;position: relative; cursor:pointer; }
.input_file{ position:absolute;opacity:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);-moz-opacity: 0.5; -khtml-opacity: 0.5; filter: alpha(opacity = 50);top: 60px; left: 110px; z-index: 99;  width:400px; height:120px; }


.titulo_bread {font-size:12px; font-family:'gotham';color:#333333}

/* membros */
.conteudo_stats_leads { background:url(../../images/membros/novo/stats-leads-fundo.png) no-repeat; width:404px; height:348px; position:relative;}
.conteudo_stats_squeeze { background:url(../../images/membros/novo/stats-batalha-leads.png) no-repeat; width:404px; min-height:550px; position:relative; }
